# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ai_env/
.venv/

# Python build files
build/
dist/
*.egg-info/

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env
.env.*
secrets.toml

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# MacOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary files
# -----------------------------
tmp/
temp/
*.tmp

# -----------------------------
# Uploaded files
# -----------------------------
uploads/
resumes/
jd/

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/